/*
vim: syntax=groovy
-*- mode: groovy;-*-
============================================================================                  RNAseq QC config file: Nextflow configuration
============================================================================

Author:
Tain Velasco-Luquez <tvelasco@javeriana.edu.co> @TainVelasco-Luquez: Design and implementation.
Caution note: This code is heavily influenced by NGI-RNAseq by Phil Ewels.
*/

// for github
manifest {
    author = @TainVelasco-Luquez
    description = "QUAlity control for RNA_Seq, a nextflow pipeline"
    mainScript = 'quars.nf'
}

// Global default parameters
params {
    fastq_files = './Data/*_{1,2}.fastq'
    outdir = './Results/'
    singleEnd = true
    cpus = 6
}

// Pipeline instrospection

timeline {
    enabled = true
    file = "${params.outdir}/timeline_RNAseqQC.html"
}
report {
        enabled = true
        file = "${params.outdir}/report_RNAseqQC.html"
}

// Minimal nextflow version
nextflowVersion = '>=0.30.2'


/* HTCondor Integration
QUARS must be launched from a node where the condor_submit command is available
*/

// Profiles are activating with the command line option -profile cluster_condor
profiles {
    standard {
        process.executor = 'local'
    }
    condor {
        process.executor = 'condor'
        // How much memory the process is allowed to use
        process.memory = '10GB'
        // Number of (logical) CPU required by the process' task
        process.cpus = 20
        // How much local disk storage the process is allowed to use
        process.disk = '2 GB'
    }
}
