/*
vim: syntax=groovy
-*- mode: groovy;-*-
============================================================================                  RNAseq QC config file: Nextflow configuration
============================================================================

Author:
Tain Velasco-Luquez <tvelasco@javeriana.edu.co> @TainVelasco-Luquez: Design and implementation.
Caution note: This code is heavily influenced by NGI-RNAseq by Phil Ewels.
*/

// for github
manifest {
    author = @TainVelasco-Luquez
    description = "QUAlity control for RNA_Seq, a nextflow pipeline"
    mainScript = 'quars.nf'
}

// Global default parameters
params {
    fastq_files = './Data/*_{1,2}.fastq'
    outdir = './Results/'
    singleEnd = true
    cpus = 6
}

// Pipeline instrospection

timeline {
    enabled = true
    file = "${params.outdir}/timeline_RNAseqQC.html"
}
report {
        enabled = true
        file = "${params.outdir}/report_RNAseqQC.html"
}

/* HTCondor Integration
QUARS must be launched from a node where the condor_submit command is available
process.executor property to condor
*/
